#code-viewer > .cm-editor > .cm-scroller > .cm-content {
    padding: 0 0.75rem 1.25rem 0.75rem;
}


#code-editor {
    height: 70%;
}

#code-viewer {
    height: 30%;
}

.cm-editor {
    height: 100%;
}

html {
    background-color: #e9e9ec;
}
